* {
    font-family: Arial;
}

body{
    margin:0;
}

.dark {
    background: #444;
    color: white;
}

#container {

}

.column {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#totals {
    text-align: center;
}

#totals span {
    display: block;
}

#totals-counter-container {
    position: relative;
    top: -8px;
}

#totals-counter {
    font-size: 36px;
    font-weight: bold;
}

#totals-gauge {
    height: 50px;
    width: 400px;
    margin: 0 auto;
}

.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: #70A2C6;
}

.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: #ddd;
}

.dark .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: #555;
}

#counters {
    list-style-type: none;
    width: 100%;
}

.counter-row {
    padding: 13px 0;
    position: relative;
    float:left;
    width: 31%;
    margin: 0 1% 1%;
    height: 160px;
    background: #555;
}

.dark .counter-row {
    border-color: #666;
}

.counter-row > * {
    vertical-align: middle;
}

#counters .counter {
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    width: 4em;
    text-align: right;
    right: 20px;
    position:absolute;

}

.favicon {
#    background: white;
#    border: 1px solid rgba(0, 0, 0, 0.2);
#    border-radius: 3px;
    height: 20px;
    margin: 0 1em 0 25px;
    padding: 3px;
    width: 20px;
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    margin-top: 4px;
    display:none;
}

.pages{
    list-style: none;
    color: #999;
    font-size:14px;
    padding:0 20px;
}

.pages li{
    padding: 3px 0 3px 10px;
    border-top: 1px solid #666;
    position:relative;
    overflow:hidden;
    height: 16px;
    line-height: 18px;
    padding-right: 100px;
}

.pages li:first-child{
    border:none;
}

.pages li span{
    position: absolute;
    right: 0;
    top: 0;
    background: #555;
    padding-left: 10px;
}

